name: Deploy to ECS

on:
  push:
    branches:
      - CI/CD-with-github-actions

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: Hackathon Backend

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    # setup java 17
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup gradle
      run: ./gradlew assemble

    - name: Run tests
      run: ./gradlew test

    - name: Build JAR
      run: ./gradlew build


    # grant access to Dockerfile
    - name: Grant access to Dockerfile
      run: chmod 777 ./Dockerfile

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: hackathon-backend-prod
        IMAGE_TAG: latest
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      # grant access to Dockerfile
    - name: Grant access to Dockerfile
      run: chmod 777 infra/task-definition.json

    # get task description from aws
    - name: Get the Amazon ECS task definition
      id: task-def
      run: |
        echo "Getting the Amazon ECS task definition"
        aws ecs describe-task-definition --task-definition hackathon-backend-prod > infra/task-definition.json

    - name: Fill in the new image ID in the Amazon ECS task definition
      id: task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: infra/task-definition.json
        container-name: hackathon-backend-prod
        image: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

    - name: Deploy Amazon ECS task definition
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        cluster: hackathon-backend-prod

        task-definition: ${{ steps.task-def.outputs.task-definition }}
